body {
    background-color: blanchedalmond;
}
.container {
    background-color:burlywood;
    border: 2px solid black;
    margin: auto;
    width: 400px;
    padding: 5px;
    margin-top: 10%;
}
#grid {
  width: 400px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}
